@use "mixins" as *;

:host {
  display: block;
}

.item-features {
  margin-top: rem-calc(8);

  &__title {
    font-size: rem-calc($font-xl);
    font-weight: 700;
    color: $color-text-dark;
    margin: 0 0 rem-calc(12) 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-size: rem-calc($font-md);
    color: $color-text-medium;
    line-height: 1.8;
    position: relative;
    padding-left: rem-calc(18);

    @include break-to-tablet {
      font-size: rem-calc($font-base);
    }

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      color: $color-text-secondary;
      font-size: rem-calc($font-lg);
    }
  }
}
